@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Inter, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Source Serif 4, serif;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1740 0.0252 93.2721);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1740 0.0252 93.2721);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1740 0.0252 93.2721);
  --primary: oklch(0.8573 0.1490 88.5056);
  --primary-foreground: oklch(0.1740 0.0252 93.2721);
  --secondary: oklch(0.9822 0.0192 90.5386);
  --secondary-foreground: oklch(0.5728 0.0894 85.5553);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9822 0.0192 90.5386);
  --accent-foreground: oklch(0.5728 0.0894 85.5553);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.8573 0.1490 88.5056);
  --chart-1: oklch(0.8393 0.1313 86.2575);
  --chart-2: oklch(0.7749 0.1212 86.1374);
  --chart-3: oklch(0.7092 0.1109 85.9891);
  --chart-4: oklch(0.6419 0.1003 85.8012);
  --chart-5: oklch(0.5728 0.0894 85.5553);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.1740 0.0252 93.2721);
  --sidebar-primary: oklch(0.8573 0.1490 88.5056);
  --sidebar-primary-foreground: oklch(0.1740 0.0252 93.2721);
  --sidebar-accent: oklch(0.9822 0.0192 90.5386);
  --sidebar-accent-foreground: oklch(0.5728 0.0894 85.5553);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.8573 0.1490 88.5056);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
}

.dark {
  --background: oklch(0.1341 0.0189 97.0866);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.1740 0.0252 93.2721);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.1740 0.0252 93.2721);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.8573 0.1490 88.5056);
  --primary-foreground: oklch(0.1740 0.0252 93.2721);
  --secondary: oklch(0.2489 0.0356 93.7174);
  --secondary-foreground: oklch(0.8393 0.1313 86.2575);
  --muted: oklch(0.1740 0.0252 93.2721);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.3175 0.0336 85.2326);
  --accent-foreground: oklch(0.8393 0.1313 86.2575);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.3175 0.0336 85.2326);
  --input: oklch(0.3175 0.0336 85.2326);
  --ring: oklch(0.8573 0.1490 88.5056);
  --chart-1: oklch(0.8393 0.1313 86.2575);
  --chart-2: oklch(0.7749 0.1212 86.1374);
  --chart-3: oklch(0.7092 0.1109 85.9891);
  --chart-4: oklch(0.6419 0.1003 85.8012);
  --chart-5: oklch(0.5728 0.0894 85.5553);
  --sidebar: oklch(0.1341 0.0189 97.0866);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.8573 0.1490 88.5056);
  --sidebar-primary-foreground: oklch(0.1740 0.0252 93.2721);
  --sidebar-accent: oklch(0.3175 0.0336 85.2326);
  --sidebar-accent-foreground: oklch(0.8393 0.1313 86.2575);
  --sidebar-border: oklch(0.3175 0.0336 85.2326);
  --sidebar-ring: oklch(0.8573 0.1490 88.5056);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0rem;
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.25;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25), 0rem 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25), 0rem 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25), 0rem 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.63);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}